body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #dee2e6;
}

nav {
    display: flex;
    background-color: #6c757d;
    align-items: center;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color:#e9ecef;
    font-size: 18px;
    padding: 20% 0;
}

p {
    margin: 0;
    display: flex;
}

.navbar ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10%;
    padding: 0;
    gap: 5%;
}

.header-logo {
    margin-left: 10%;
    margin-right: auto;
    width: 5%;
}

.intro{
    display: flex;
    flex: 1;
    background-color: #6c757d;
    padding: 7% 10% 5% 10%;
    align-items: center;
    justify-content: space-between;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.intro-title {
    font-size: 48px;
    color: #e9ecef;
    font-weight: 800;
}

.intro-text {
    font-size: 18px;
    color: #e9ecef;
    text-align: justify;
    margin: 5% 0 0;
}

button {
    background-color: #495057;
    border: solid #495057;
    color: #E5E7EB;
    margin-top: 5%;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

.intro-image {
    margin: 0;
    width: 45%;
    border-radius: 10px;   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.content-header {
    font-size: 36px;
    font-weight: 800;
    color: #6c757d;
    margin-bottom: 5%;
}

.content-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    row-gap: 35px;
 }

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 20px;
}

.card-border {
    border: solid 5px #6c757d;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-text {
    text-align: center;
    max-width: 200px;
    font-weight: 600;
    font-size: 24px;
    text-decoration: underline;
    color: #6c757d;
    }

.quote {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #ced4da;
    height: fit-content;
    padding: 7% 0;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 60%;
    justify-content: center;
}

.quote-person {
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
    width: 60%;
    justify-content: flex-end;
}

.mailing-list {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.mailing-list-container {
    display: flex;
    width: 60%;
    padding: 3%;
    margin: 0 15%;
    justify-content: space-around;
    align-items: center;
    background-color: #6c757d;
    border-radius: 15px;
}

.mailing-list-text {
    display: flex;
    flex-direction: column;
    color: #e9ecef;
    width: 50%;
}

.mailing-list-head {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 2%;
}

.mailing-list-sign-up {
    border: solid #495057;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #6c757d;
    color: #e9ecef
}
